<div class="card-body">
            <form ngNativeValidate [formGroup]="form" (ngSubmit)="modificar(this.data.usuario)" class="form-horizontal form-material" id="loginform" >
                <h3 class="box-title m-t-40 m-b-0">Editar Usuario</h3>
                
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input formControlName="nombre" name="nombre" class="form-control" type="text" required value="{{data.usuario.nombre}}">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="email" name="email" class="form-control" type="email" required value="{{data.usuario.email}}">
                    </div>
                </div>
                
    
<!--
                <div class="form-group" *ngIf="form.errors?.sonIguales && !form.pristine">
                    <p class="text-danger">
                        Las claves deben ser iguales.
                    </p>
-->
                
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Editar</button>
                    </div>
                </div>
                
            </form>
        </div>
