<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="buscarUsuario( input.value )" type="text" class="form-control" placeholder="Buscar Usuario ... ">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="alert-warning text-center" *ngIf="cargando">
      <strong>Cargando</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div class="row animated fadeIn !cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Usuarios registrados ( <small>{{ totalRegistros }}</small> ) </h3>
        <table class="table table-hover">
          <thead>
            <tr>
              
              <th>Correo</th>
              <th>Nombre</th>
              
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let usuario of usuarios"> 
              <!--<td class="w70"><img (click)="mostrarModal( usuario._id )" [src]=" usuario.img | imagen" class="img-50 img-circle pointer"> </td>-->
              <td>{{ usuario.nombre }}</td>
              <td>{{ usuario.email }}</td>
              <td> 
                <button class="btn btn-primary" (click)="guardarUsuario( usuario )">
                  <i class="fa fa-save"></i>
                </button> 
                <button class="btn btn-danger" (click)="borrarUsuario( usuario )">
                  <i class="fa fa-trash-o"></i>
                </button> 
              </td>
            </tr>
          </tbody>
        </table>
        <button (click)="cambiarDesde(-5)" class="btn btn-secundary" >
          Anteriores
        </button>
        <button (click)="cambiarDesde(5)" class="btn btn-secundary" >
          Siguientes
        </button>
        <button (click)="crearUsuario()" class="btn btn-primary">
          Crear Usuario
        </button>
      </div>
    </div>
  </div>
</div>

