<div class="row animated fadeIn">
    <div class="col-lg-5">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title"> Perfil </h4>
              <form ngNativeValidate #f="ngForm" (ngSubmit)="save( f.value )" class="form p-t-20">
                  <div class="form-group">
                      <label for="exampleInputuname">Nombre de Usuario</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="ti-user"></i></div>
                          <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" id="exampleInputuname" required placeholder="Username">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="ti-email"></i></div>
                          <input [disabled]="usuario.google"  [ngModel]="usuario.email" name="email" type="email" class="form-control" id="exampleInputEmail1" required placeholder="Enter email">
                      </div>
                  </div>
                  <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Guardar
                  </button>
              </form>
          </div>
      </div>
  </div>
  
</div>