    <div class="card">
      <div class="card-body">   
        <mat-slide-toggle    (change)="onChange($event.checked)" >Slide me!</mat-slide-toggle>
        <form *ngIf="isChecked" ngNativeValidate [formGroup]="form" (ngSubmit)="registrarInventario()" class="form-horizontal form-material" id="loginform"  >
          <h3>Registro de Inventario</h3>
          
            <div class="form-group m-t-10">
              <div class="col-xs-12">
                  <input formControlName="nombre" name="nombre" class="form-control" type="text" required="" placeholder="Nombre del producto">
              </div>
          </div>
          <div class="form-group ">
              <div class="col-xs-12">
                  <input formControlName="cantidad" name="cantidad" class="form-control" type="number" required placeholder="Cantidad total de producto">
              </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
                <input formControlName="costo" name="costo" class="form-control" type="number" required placeholder="Costo por unidad en pkoins">
            </div>
        </div>
          <div class="form-group text-left m-t-20">
            <button class="btn btn-primary" type="submit">Guardar</button>
          </div>
      </form>
      <form *ngIf="!isChecked" ngNativeValidate [formGroup]="form" (ngSubmit)="registrarInventario()" class="form-horizontal form-material" id="loginform"  >
        <h3>Registro de Inventario 2 </h3>
        
          <div class="form-group m-t-10">
            <div class="col-xs-12">
                <input formControlName="nombre" name="nombre" class="form-control" type="text" required="" placeholder="Nombre del producto">
            </div>
        </div>
        <div class="form-group ">
            <div class="col-xs-12">
                <input formControlName="cantidad" name="cantidad" class="form-control" type="number" required placeholder="Cantidad total de producto">
            </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
              <input formControlName="costo" name="costo" class="form-control" type="number" required placeholder="Costo por unidad en pkoins">
          </div>
      </div>
        <div class="form-group text-left m-t-20">
          <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </form>
      </div>
    </div>

    <div class="row animated fadeIn !cargando">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Productos registrados ( <small>{{ totalRegistros }}</small> ) </h3>
            <table class="table table-hover">
              <thead>
                <tr>
                  
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Costo</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let producto of inventario"> 
                  <!--<td class="w70"><img (click)="mostrarModal( usuario._id )" [src]=" usuario.img | imagen" class="img-50 img-circle pointer"> </td>-->
                  <td>{{ producto.nombre }}</td>
                  <td>{{ producto.cantidad }}</td>
                  <td>{{ producto.costo }} pk</td>
                  <td> 
                    <button class="btn btn-primary" (click)="Actualizar( producto )">
                      <i class="fa fa-edit"></i>
                    </button> 
                    <button class="btn btn-danger"(click)="borrarProducto(producto)"  >
                      <i class="fa fa-trash-o"></i>
                    </button> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>