<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<!--
<mat-card>
    <mat-card-header>
        <mat-card-title>Registrar Nuevo Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input  matInput   placeholder="Nombre" [(ngModel)]="nombre"  type="text" name="nombre"  required>
            </mat-form-field>
            <mat-form-field>
                <input  matInput  placeholder="Correo" [(ngModel)]="email"  type="email" name="email"  required>
            </mat-form-field>
            <mat-form-field>
                <input  matInput  placeholder="Contraseña" [(ngModel)]="password"  type="password"  name="password"  required>
            </mat-form-field>
            <mat-form-field>
                <input  matInput  placeholder="Repita la Contraseña" [(ngModel)]="password2"  type="password"  name="password2"  required>
            </mat-form-field>
            <mat-card-actions>
                <button  mat-raised-button (click)="registrarUsuario()"  color="primary">Registrar Usuario</button>
                <button  mat-raised-button (click)="close()">Close</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>
-->


    
        <div class="card-body">
            <form ngNativeValidate [formGroup]="form" (ngSubmit)="registrarUsuario()" class="form-horizontal form-material" id="loginform" >
                <h3 class="box-title m-t-40 m-b-0">Registrar Usuario</h3>
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input formControlName="nombre" name="nombre" class="form-control" type="text" required="" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="correo" name="correo" class="form-control" type="email" required placeholder="Correo">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="password" name="password" class="form-control" type="password" required placeholder="Clave">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input formControlName="password2" name="password2" class="form-control" type="password" required placeholder="Confirma tu clave">
                    </div>
                </div>
<!--
                <div class="form-group" *ngIf="form.errors?.sonIguales && !form.pristine">
                    <p class="text-danger">
                        Las claves deben ser iguales.
                    </p>
-->
                
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrar</button>
                    </div>
                </div>
                
            </form>
        </div>


   
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->