
<div #canvas></div>
    <div class="form-group">
      <input *ngIf="!loteGenerado" [(ngModel)]="numeroLote" type="number" class="form-control" placeholder="Cantidad de Billetes">
      <div *ngIf="loteGenerado">
        <select [(ngModel)]="monto" class="form-control form-white" data-placeholder="Seleccione un monto" name="cantidad" >
          <option value="1">1 pkoin</option>
          <!-- <option disabled value="5">5$</option>
          <option disabled value="10">10$</option>
          <option disabled value="20">20$</option>
          <option disabled value="50">50$</option>
          <option disabled value="100">100$</option> -->
      </select> 
    </div>
    </div>
    
    <button [disabled]="!numeroLote" *ngIf="!loteGenerado" (click)="check()" class="btn btn-success waves-effect waves-light m-r-10" id ="boton">
      <i class="fa fa-save "> Generar Lote </i>
    </button>
    <div>
      <button [disabled]="!monto"  *ngIf="loteGenerado" (click)="download()" class="btn btn-success waves-effect waves-light m-r-10">
        <i class="fa fa-save "> Descargar Pkoins </i>
      </button><a [href]="sanitize(linkpdf)" *ngIf="linkpdf">{{serialId}}</a>
      <div class="loader" *ngIf="open" >  </div>
    </div>
