.test-class {
    width: 300px;
    height: 300px;
}

.qr {
    position: absolute;
    left: 155px;
    top: 297px;
}

.image{
    position: absolute;
}

.button1{
    position: absolute;
    top: 600px;
    left: 350px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}