
<button mat-icon-button color="primary" (click)="back()" class="example-icon" aria-label="Example icon-button with a heart icon">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <table mat-table [dataSource]="record">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID PKOIN</th>
      <td mat-cell *matCellDef="let element"> {{element._idPkToken}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha | date:'dd/MM/yyyy h:m:s a' }} </td>
    </ng-container>

    <ng-container matColumnDef="email_origen">
      <th mat-header-cell *matHeaderCellDef> Email Origen </th>
      <td mat-cell *matCellDef="let element"> {{element.duenioAnterior.email}} </td>
    </ng-container>

    <ng-container matColumnDef="usuario_origen">
      <th mat-header-cell *matHeaderCellDef> Usuario origen </th>
      <td mat-cell *matCellDef="let element">  {{element.duenioAnterior.nombre}} </td>
    </ng-container>
   
    <ng-container matColumnDef="email_destino">
        <th mat-header-cell *matHeaderCellDef> Email Destindo </th>
        <td mat-cell *matCellDef="let element"> {{element.duenioActual.email}} </td>
      </ng-container>

      <ng-container matColumnDef="usuario_destino">
          <th mat-header-cell *matHeaderCellDef> Usuario Destindo </th>
          <td mat-cell *matCellDef="let element">{{element.duenioActual.nombre}} </td>
        </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
