<div class="card-body">
    <form ngNativeValidate [formGroup]="form" (ngSubmit)="modificar(this.data.inventario._id)" class="form-horizontal form-material" id="loginform" >
        <h3 class="box-title m-t-40 m-b-0">Editar producto</h3>
        
        <div class="form-group m-t-20">
            <div class="col-xs-12">
                <input formControlName="nombre" name="nombre" class="form-control" type="text" required value="{{data.inventario.nombre}}">
            </div>
        </div>
        <div class="form-group ">
            <div class="col-xs-12">
                <input formControlName="cantidad" name="cantidad" class="form-control" type="number" required value="{{data.inventario.cantidad}}">
            </div>
        </div>
        <div class="form-group ">
            <div class="col-xs-12">
                <input formControlName="costo" name="costo" class="form-control" type="number" required value="{{data.inventario.costo}}">
            </div>
        </div>
    
<!--
                <div class="form-group" *ngIf="form.errors?.sonIguales && !form.pristine">
                    <p class="text-danger">
                        Las claves deben ser iguales.
                    </p>
-->
                
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button  class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Editar</button>
                    </div>
                </div>
                
            </form>
        </div>
