@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#themecolors a {
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


table.mat-table {
    width: 100%;
}

.mat-table:first-child {
    border-right: 1px solid #e0e0e0;
  }

.test-class > img {
    width: 110px;
    height: 110px;
}
