
  <table mat-table [dataSource]="pkTokens">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.duenioActual.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="monto">
      <th mat-header-cell *matHeaderCellDef> Monto </th>
      <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fecha Creacion </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaCreado | date:'dd/MM/yyyy h:m:s a' }} </td>
    </ng-container>

    <ng-container matColumnDef="record">
      <th mat-header-cell *matHeaderCellDef> Historial</th>
    <th mat-cell *matCellDef="let element" >
      <button class="btn btn-primary" (click)="historialPk( element._id )">
        <i class="fa fa-save"></i>
      </button> 
    </th>
  </ng-container>

   <ng-container matColumnDef="actions">
    <th mat-header-cell  *matHeaderCellDef > Borrar </th>
    <td mat-cell *matCellDef="let element" >
      <button class="btn btn-danger" (click)="borrarPk( element )">
        <i class="fa fa-trash-o"></i>
      </button> 
    </td>
  </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
